site_name: MxM for Unity (Community Fork)
site_description: Motion Matching for Unity - Community maintained fork with Unity 2022+ support
site_url: https://frostbladestudios.github.io/Motion-Matching-for-Unity/
repo_url: https://github.com/Frost-Blade-Studios/Motion-Matching-for-Unity
repo_name: Frost-Blade-Studios/MxM
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.action.edit
    - toc.follow
  icon:
    repo: fontawesome/brands/github

nav:
  - Home: index.md
  - Getting Started:
      - Installation & Setup: getting-started.md
      - Quick Start Tutorial: quick-start.md
  - Documentation:
      - Technical Reference: technical-reference.md
      - Animation Authoring Guide: animation-guide.md
      - FAQ: faq.md
  - Resources:
      - Original PDFs: resources.md

plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - tables
  - attr_list
  - md_in_html
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Frost-Blade-Studios/Motion-Matching-for-Unity
      name: GitHub Repository
  generator: false

copyright: |
  Originally created by MxM Animation System | Community maintained by Frost Blade Studios
